<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}" th:object="${pageModel}">
	<section layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Review <small>please check this stat block carefully before approving it</small>
			</h1>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="box js-preview-container" id="js-preview-container">
						<div class="box-header">
							<h3 class="box-title" th:text="${dataObject.name}"></h3>
							<div class="pull-right">
								<a th:href="@{'https://duckduckgo.com/?q=\\' + ${dataObject.name} + '+site%3A2e.aonprd.com'}" target="reviewtab" class="btn btn-xs btn-default">Direct to AoN</a>
								<a th:href="@{'https://duckduckgo.com/?q=' + ${dataObject.name} + '+site%3A2e.aonprd.com'}" target="reviewtab" class="btn btn-xs btn-default">Search</a>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body" th:insert="${'layouts/preview_fragments/' + dataObject.type.name().toLowerCase()} :: preview">

						</div>
					</div>
					<div class="box">
						<div class="box-header">
						</div>
						<!-- /.box-header -->
						<div class="box-body" >
							<form role="form" method="post" action="/ui/review/update" id="reviewForm">
								<div class="form-group">
									<label for="comment">Reason for rejection</label>
									<input type="text" class="form-control" id="comment" placeholder="Enter reason for rejection (if applicable)" name="comment">
								</div>
								<button type="submit" class="btn btn-success pull-right" name="action" value="approve">Approve</button>
								<button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
								<input type="hidden" name="id" th:value="${dataObject.id}">
								<input type="hidden" name="revision" th:value="${dataObject.revision}">
								<input type="hidden" name="statusId" th:value="${objectStatus.id}">
							</form>
						</div>
					</div>
					<div th:insert="layouts/changelog_fragment :: changelog">

					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Official Documentation</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body" id="iframe_container">

						</div>
					</div>
					<script type="text/javascript" th:utext="${'var iframeUrl = ''https://2e.aonprd.com/Search.aspx?query=' + dataObject.name.replaceAll('''', '%27') + ''';'}">url</script>
					<script type="text/javascript">
					  window.addEventListener("load", function() {
						var iframe = document.createElement('iframe');
						iframe.src = iframeUrl;
						$(iframe).addClass('preview-iframe');
						$('#iframe_container').append(iframe);
					  }, false);
					</script>
				</div>
			</div>
		</section>
		<script type="text/javascript" th:utext="${'var objectJson = ' + dataObject.objectJson + ';'}">jsonSchema</script>
		<script src="/static/js/preview.js"></script>
		<script type="text/javascript">
			document.getElementById("js-preview-container").setAttribute("data-preview-json", JSON.stringify(objectJson));
		</script>
	</section>
</div>