<div class="preview-box" xmlns:th="http://www.thymeleaf.org" th:fragment="preview">
	<div>
		<h3 class="js-preview" data-preview-key="name"></h3>
	</div>
	<div>
		<b class="js-preview" data-preview-key="name"></b> <span class="js-preview js-preview-filter" data-preview-key="action"></span> <b class="pull-right js-preview" data-preview-key="level"></b><span class="pull-right">FEAT&nbsp;</span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview trait rarity" data-preview-key="rarity"></span> <span class="js-preview trait" data-preview-key="type"></span> <span class="js-preview-list" data-preview-key="traits"><span><span class="js-preview trait" data-preview-key=""></span> </span></span>
	</div>
	<div class="js-preview-filter" data-preview-key="prerequisites.prerequisitesGroup">
		<b>Prerequisites</b>
		(<span class="js-preview" data-preview-key="prerequisites.groupRelationship"></span>)
		<span class="js-preview-list js-preview-filter first"  data-preview-key="prerequisites.prerequisitesGroup">
			<span>
				<span class="js-preview-filter" data-preview-key="feat">
					<span class="js-preview" data-preview-key="feat"></span>,
				</span>
				<span class="js-preview-filter" data-preview-key="skill">
					<span class="js-preview" data-preview-key="proficiency"></span> in <span class="js-preview" data-preview-key="skill"></span> (<span class="js-preview" data-preview-key="skillSpecialty"></span>),
				</span>
				<span class="js-preview-filter" data-preview-key="attribute">
					<span class="js-preview" data-preview-key="attribute"></span> <span class="js-preview" data-preview-key="score"></span>,
				</span>
				<span class="js-preview-filter" data-preview-key="classFeature">
					<span class="js-preview" data-preview-key="classFeature"></span>,
				</span>
				<span class="js-preview-filter" data-preview-key="miscellaneous">
					<span class="js-preview" data-preview-key="miscellaneous"></span>,
				</span>
			</span>
		</span>
	</div>
	<div class="js-preview-filter" data-preview-key="frequency">
		<b>Frequency</b> <span class="js-preview" data-preview-key="frequency"></span>
	</div>
	<div class="js-preview-filter" data-preview-key="trigger">
		<b>Trigger</b> <span class="js-preview" data-preview-key="trigger"></span>
	</div>
	<div class="js-preview-filter" data-preview-key="requirements">
		<b>Requirements</b> <span class="js-preview-list" data-preview-key="requirements"><span><span class="js-preview" data-preview-key=""></span>, </span></span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview" data-preview-key="description"></span>
	</div>
</div>