<div class="preview-box" xmlns:th="http://www.thymeleaf.org" th:fragment="preview">
	<div>
		<h3 class="js-preview" data-preview-key="name"></h3>
	</div>
	<div>
		<b class="js-preview" data-preview-key="name"></b><b class="pull-right">RITUAL <span class="js-preview" data-preview-key="level"></span></b>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<b>Source:</b> <span class="js-preview" data-preview-key="metaInformation.publicationData.sourceBook"></span> p. <span class="js-preview" data-preview-key="metaInformation.publicationData.page"></span>
	</div>
	<div>
		<b>PFS availability:</b> <span class="js-preview" data-preview-key="metaInformation.pathfinderSocietyData.availability"></span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview trait rarity" data-preview-key="rarity"></span> <span class="js-preview trait" data-preview-key="school"></span> <span class="js-preview-list" data-preview-key="traits"><span><span class="js-preview trait" data-preview-key=""></span> </span></span>
	</div>
	<div>
		<b>Cast</b> <span class="js-preview" data-preview-key="casting.time"></span> <span class="js-preview" data-preview-key="casting.unit"></span>;&nbsp;
		<span class="js-preview-filter" data-preview-key="cost.cost"><b>Cost</b> <span class="js-preview" data-preview-key="cost.cost"></span>;&nbsp;</span>
		<b>Secondary Casters</b> <span class="js-preview" data-preview-key="secondaryCasters.amount"></span>
	</div>
	<div>
		<b>Primary Check</b> <span class="js-preview-list" data-preview-key="primaryCheck"><span><span class="js-preview" data-preview-key="skill"></span> (<span class="js-preview" data-preview-key="proficiency"></span>) or </span></span>;
		<span class="js-preview-filter" data-preview-key="secondaryChecks"><b>Secondary Checks</b> <span class="js-preview-list" data-preview-key="secondaryChecks"><span><span class="js-preview" data-preview-key=""></span>, </span></span> </span>
	</div>
	<div>
		<span class="js-preview-filter" data-preview-key="range.unit"><b>Range</b> <span class="js-preview" data-preview-key="range.range"></span> <span class="js-preview" data-preview-key="range.unit"></span>;&nbsp;</span>
		<span class="js-preview-filter" data-preview-key="area"><b>Area</b> <span class="js-preview" data-preview-key="area"></span>;&nbsp;</span>
		<span class="js-preview-filter" data-preview-key="target"><b>Target</b> <span class="js-preview" data-preview-key="target"></span>;&nbsp;</span>
	</div>
	<div>
		<span class="js-preview-filter" data-preview-key="duration"><b>Duration</b> <span class="js-preview" data-preview-key="duration"></span>;&nbsp;</span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview" data-preview-key="description"></span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview-list" data-preview-key="heightening"><div><b>Heighten</b> (<span class="js-preview" data-preview-key="type"></span> <span class="js-preview" data-preview-key="heighten"></span>) <span class="js-preview" data-preview-key="description"></span></div></span>
	</div>
</div>