<div class="preview-box" xmlns:th="http://www.thymeleaf.org" th:fragment="preview">
	<div>
		<h3 class="js-preview" data-preview-key="name"></h3>
	</div>
	<div>
		<b class="js-preview" data-preview-key="name"></b><b class="pull-right js-preview" data-preview-key="level"></b><span class="pull-right">&nbsp;</span><b class="pull-right js-preview" data-preview-key="type"></b>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview trait rarity" data-preview-key="rarity"></span> <span class="js-preview trait" data-preview-key="school"></span> <span class="js-preview-list" data-preview-key="traits"><span><span class="js-preview trait" data-preview-key=""></span> </span></span>
	</div>
	<div class="js-preview-filter" data-preview-key="domain">
		<b>Domain</b> <span class="js-preview" data-preview-key="domain"></span>
	</div>
	<div class="js-preview-filter" data-preview-key="traditions">
		<b>Traditions</b> <span class="js-preview-list" data-preview-key="traditions"><span><span class="js-preview" data-preview-key=""></span>, </span></span>
	</div>
	<div>
		<b>Cast</b> <span class="js-preview" data-preview-key="casting.time"></span> <span class="js-preview" data-preview-key="casting.unit"></span> (<span class="js-preview-list" data-preview-key="components"><span><span class="js-preview" data-preview-key=""></span>, </span></span>)
	</div>
	<div class="js-preview-filter" data-preview-key="casting.trigger">
		<b>Trigger</b> <span class="js-preview" data-preview-key="casting.trigger"></span>
	</div>
	<div>
		<span class="js-preview-filter" data-preview-key="range.unit">
			<b>Range</b> <span class="js-preview" data-preview-key="range.range"></span> <span class="js-preview" data-preview-key="range.unit"></span>
		</span>
		<span class="js-preview-filter" data-preview-key="area.size">
			<b>Area</b> <span class="js-preview" data-preview-key="area.size"></span> <span class="js-preview" data-preview-key="area.unit"></span> <span class="js-preview" data-preview-key="area.area"></span> <span class="js-preview" data-preview-key="area.note"></span>
		</span>
		<span class="js-preview-filter" data-preview-key="targets.targets">
			<b>Targets</b> <span class="js-preview" data-preview-key="targets.targets"></span>
		</span>
	</div>
	<div>
		<span class="js-preview-filter" data-preview-key="save">
			<b>Saving Throw</b> <span class="js-preview-list" data-preview-key="save"><span><span class="js-preview-filter" data-preview-key="basic">basic</span> <span class="js-preview" data-preview-key="save"></span> OR </span></span>
		</span>
		<b>Duration</b> <span class="js-preview" data-preview-key="duration.time"></span> <span class="js-preview" data-preview-key="duration.unit"></span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview" data-preview-key="description"></span>
	</div>
	<div>
		<hr>
	</div>
	<div>
		<span class="js-preview-list" data-preview-key="heightening"><div><b>Heighten</b> (<span class="js-preview" data-preview-key="type"></span> <span class="js-preview" data-preview-key="heighten"></span>) <span class="js-preview" data-preview-key="description"></span></div></span>
	</div>
</div>