<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}" th:object="${pageModel}">
	<section layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Books <small>detail</small>
			</h1>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="${book.id == null ? 'New Book' : 'Update Book'}">book</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" method="post" action="/ui/books/update">
							<div class="box-body">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" class="form-control" id="name" placeholder="Enter name" name="name" th:value="${book?.name}">
								</div>
								<div class="form-group">
									<label for="publisher">Publisher</label>
									<input type="text" class="form-control" id="publisher" placeholder="Enter publisher" name="publisher" th:value="${book?.publisher}">
								</div>
								<div class="form-group">
									<label for="isbn">ISBN</label>
									<input type="text" class="form-control" id="isbn" placeholder="Enter ISBN" name="isbn" th:value="${book?.isbn}">
								</div>
								<div class="form-group">
									<label>Game</label>
									<select class="form-control" name="game">
										<option th:each="game: ${games}" th:text="${game}" th:value="${game}" th:selected="${book.game == game}">role</option>
									</select>
								</div>
							</div>
							<!-- /.box-body -->

							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
							<input type="hidden" name="id" th:value="${book?.id}">
						</form>
					</div>

					<div class="box box-primary" th:if="${showCreateObject}">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="${'Add object to ' + book.name}"></h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" method="post" action="/ui/books/addObject">
							<div class="box-body">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="objectName">Name</label>
											<input type="text" class="form-control" id="objectName" placeholder="Enter name" name="name" autofocus>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<div class="form-group">
											<label>Type</label>
											<select class="form-control" name="type">
												<option th:each="objectType: ${objectTypes}" th:text="${objectType}" th:value="${objectType}" th:selected="${objectType == previousType}">type</option>
											</select>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<div class="form-group">
											<label>&nbsp;</label><br>
											<button type="submit" class="btn btn-primary">Add</button>
										</div>

									</div>
								</div>
							</div>
							<!-- /.box-body -->
							<input type="hidden" name="bookId" th:value="${book?.id}">
						</form>
					</div>

					<div class="box box-primary" th:if="${showCreateObject}">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="${'Publish ' + book.name}"></h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" method="post" action="/ui/publish/publish" id="publishForm">
							<input type="hidden" name="id" th:value="${book?.id}">
							<div class="box-body">
								<div class="row">
									<div class="col-md-9 col-sm-9 col-xs-12">
										<div class="form-group">
											<textarea class="form-control" id="comment" placeholder="Changes in this release" name="comment" minlength="5" required="required"></textarea>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<div class="form-group">
											<button type="submit" class="btn btn-success" name="action" value="approve">Publish</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
							<input type="hidden" name="bookId" th:value="${book?.id}">
						</form>
					</div>
				</div>

				<div class="col-md-6 col-sm-12 col-xs-12" th:if="${showCreateObject}">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" th:text="${objects.size() + ' Objects in ' + book.name}"></h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-striped">
								<tbody>
								<tr>
									<th style="width: 20px">ID</th>
									<th style="width: 20px">Rev</th>
									<th>Name</th>
									<th>Type</th>
									<th>Status</th>
									<th style="width: 50px"></th>
								</tr>
								<tr th:each="object: ${objects}">
									<td th:text="${object.id}">#</td>
									<td th:text="${object.revision}">#</td>
									<td th:text="${object.name}">name</td>
									<td th:text="${object.type}">type</td>
									<td ><span class="badge" th:classappend="${T(net.mindsoup.dndata.helpers.HtmlHelper).getColorClass(object.status)}" th:text="${object.status}">status</span></td>
									<td><a th:href="@{'/ui/edit/' + ${object.id}}" class="btn btn-sm btn-xs btn-warning">Edit</a></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
			</div>

		</section>
	</section>
</div>