<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/base}" th:object="${pageModel}">
	<section layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Users <small>detail</small>
			</h1>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="${user.id == null ? 'New User' : 'Update User'}">user</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" method="post" action="/ui/users/update">
							<div class="box-body">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" class="form-control" id="name" placeholder="Enter email" name="name" th:value="${user?.name}">
								</div>
								<div class="form-group">
									<label for="email">Email address</label>
									<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:value="${user?.email}">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" placeholder="Password" name="password" th:value="${user?.password}">
								</div>
								<div class="form-group">
									<label>Select Role(s)</label>
									<select multiple class="form-control" name="rights">
										<option th:each="role: ${roles}" th:text="${role}" th:value="${role}" th:selected="${user?.hasRight(role)}">role</option>
									</select>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" name="active" th:checked="${user?.active}"> Active
									</label>
								</div>
							</div>
							<!-- /.box-body -->

							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
							<input type="hidden" name="id" th:value="${user?.id}">
						</form>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>