hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.info-box {
	max-height: 90px;
	overflow: hidden;
}

.preview-box .h1{
    font-size: 18px;
}

.dndata-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.trait {
	background-color: #940000;
	color: #ffffff;
	padding-right: 5px;
	padding-left: 5px;
}

.trait.size {
	background-color: #328a56;
}

.trait.rarity {
	background-color: #d16200;
}

.trait.alignment {
	background-color: #577bab;
}

.traits input {
	text-transform: uppercase;
}

.sticky {
    position: fixed;
}
