hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.info-box {
	max-height: 90px;
	overflow: hidden;
}

.preview-box .h1{
    font-size: 18px;
}

.dndata-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.info-box-content .btn {
	margin-bottom: 5px;
}

.trait {
	background-color: #940000;
	color: #ffffff;
	padding-right: 5px;
	padding-left: 5px;
}

.trait.size {
	background-color: #328a56;
}

.trait.rarity {
	background-color: #d16200;
}

.trait.alignment {
	background-color: #577bab;
}

.traits input {
	text-transform: uppercase;
}

.sticky {
    position: fixed;
    overflow-y: scroll;
}

.edit-form .form-group {
	background-color: #bbc7ce33;
	padding: 5px;
}

/* scrollbar */
/* width */
.sticky::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sticky::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sticky::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sticky::-webkit-scrollbar-thumb:hover {
  background: #555;
}