<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">
	<section layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Publish <small>overview</small>
			</h1>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12"  th:each="bookWithObjects: ${booksWithObjects}">
					<div class="box">
						<div class="box-header">
							<a th:href="@{'/ui/publish/' + ${bookWithObjects.book.id}}" class="btn btn-xs btn-warning pull-right">Publish</a>
							<h3 class="box-title" th:text="${bookWithObjects.book.name + ' (' + bookWithObjects.objects.size() + ' Objects)'}"></h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-striped">
								<tbody>
								<tr>
									<th style="width: 20px">ID</th>
									<th style="width: 20px">Rev</th>
									<th>Name</th>
									<th>Type</th>
								</tr>
								<tr th:each="object: ${bookWithObjects.objects}">
									<td th:text="${object.id}">#</td>
									<td th:text="${object.revision}">#</td>
									<td th:text="${object.name}">name</td>
									<td th:text="${object.type}">type</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>